<web-app
    xmlns="https://jakarta.ee/xml/ns/jakartaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
    version="6.0">
  <display-name>AppName</display-name> 
  <servlet>
  <servlet-name>form1</servlet-name>
  <servlet-class>com.form.ap.FormSimple01</servlet-class>
  </servlet>	
  
  <servlet>
  <servlet-name>registation</servlet-name>
  <servlet-class>com.rf.registationformServlet</servlet-class>
  </servlet>
  
  
  <servlet>
  <servlet-name>login</servlet-name>
  <servlet-class>com.rf.loginServlet</servlet-class>
  </servlet>
 
  
</web-app>